# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
examples/
build_opt
build
build_ci
build_debug
build_clang
compile_commands.json
build_*
doc/
